<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab3_Unid4_Ej7.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=DESKTOP-L3OC88P\LOCALHOST;Initial Catalog=Northwind;User ID=net;Password=net"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>